*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: linear-gradient(0deg, rgba(25, 5, 173, 0.8),
            rgba(29, 45, 87, 0.7)), url(./images/cover.jpg);
    /* background-repeat: no-repeat; */
    background-size: cover;
    min-height: 100%;
    /* background-repeat:repeat-y; */
}

body {
    font-family: 'Libre Baskerville', serif;
    font-family: 'Roboto', sans-serif;
}

/* HEADER , Nav and Logo*/

header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-height: 50px;
    padding-right: 3vw;
    gap: 2vw;
    width: 100%;
    z-index: 1000;
    transition: top 0.3s;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.373);
}


.logo {
    width: 50vw;
}

.logo>img {
    /* display: flex; */
    width: 100%;
    height: 100%;
    max-width: 150px;
    margin-left: 20px;
    margin-top: 10px;
    align-items: center;
    justify-content: center;


}

nav>ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; 
    flex-wrap: nowrap;
    width: 100%;
    /* justify-content: space-around; */
    overflow: hidden;
}

nav>ul a, nav  {
    text-decoration: none;
    list-style: none;
    /* text-justify: distribute; */
    color: rgba(250, 250, 250, 0.767);
    font-size: 2.5vh;
}

.nav-link {
    text-decoration: none;
    list-style: none;
    /* text-justify: center; */
    color: rgba(242, 241, 241, 0.791)
}

.cover {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    height: 80vh;
    flex-direction: column;


}

h1 {
    font-weight: 900;

    font-size: 10vw;
    color: aliceblue;

}

h2 {
    font-weight: 700;
    font-size: 3rem;
    color: rgb(53, 54, 116);
    text-align: center;
    margin-top: 5%;


}

.contact h2 {
    color: white;
}

p, #features-p {
    font-size: 2vw;
    color: aliceblue;


}

h3 {
    font-size: 3vw;
    color: aliceblue;


}

.center h3 {
    font-size: 2vw;
}

button {
    padding: 1rem;
    margin: 2rem;
    width: 150px;
    background-color: rgb(255, 72, 0);
    border: none;
    border-radius: 5px;
    color: whitesmoke;
    text-align: center;
    font-weight: bold;
    position: relative;

}



.features {
    display: flex;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    /* flex: auto; */
    margin: 5% 5%;

}

/* .features-items {
    
    border: 10px black solid;

} */

.center {

    align-items: center;
    justify-content: center
}



.features p {
    background: rgb(53, 54, 116);
    width: minmax(200px, 100%);
    padding: 20px;
    border-radius: 10px;
    margin: 2rem;
    text-align: center;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;

}

.pricing-table {
    display: flex;
    gap: 5%;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    max-width: 100vw;

    flex-wrap: wrap;
    background-color: rgba(51, 50, 50, 0.449);
    padding: 5%;
}

.pricing-column {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 300px;
    min-width: 300px;
    min-height: 300px;
    border-radius: 10px;
    margin: 1rem;

    background-color: rgba(255, 255, 255, 0.7);



    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.pricing-header {
    font-size: 2.5rem;
    margin: 0 0 0.6rem;
    background: rgb(32, 32, 32);
    color: #ededed;
    padding: 10px;
    text-align: center;
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid grey;
    box-shadow:
        inset 0 -3em 3em rgba(58, 58, 58, 0.3),

        0.3em 0.3em 1em rgba(28, 28, 28, 0.6);
}


.silver {
    background-color: rgb(120, 119, 119);

}

.gold {
    background-color: goldenrod;
}

.platinum {
    background-color: skyblue;
}

.pricing-column li {
    /* margin-left: 1.5rem; */
    padding: 5% 2%;
    text-indent: 20px;
    text-align: center;
    text-decoration: none;
    list-style: none;
    border-bottom: 1px solid rgba(169, 169, 169, 0.565);

}

.cta-button {



    background-color: rgb(255, 72, 0);



}

.contact {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;


}

.contact-form {
    display: inline-block;
    padding: 10px;
}



.label-left {
    float: left;
    width: 25%;
    margin-top: 6px;

}

.input-right {
    float: left;
    width: 75%;
    margin-top: 6px;
}

input {
    background-color: #e8e8e8;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: left
}

button[type=submit] {
    background-color: #040faa;
    color: white;
    padding: 12px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: left;
}

footer {
    /* height: 200px; */
    background-color: rgba(0, 0, 0, 0.565);
    /* margin: 25%; */
    height: 200px;
    text-align: center;
    padding-top: 10%;
}



a[href^='mailto']::before {
    content: '📧 ';
}

a[href^='tel']::before {
    content: '📞 ';
}

address {
    color: darkblue;

}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #2004aa;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #4549a0;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 30px;
    margin: 5% 20%;

}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;

}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
    .cover p, #features-p {
        font-size: 3vw;
        color: lightblue;
    }

    h1 {
        font-weight: 900;

        font-size: 10vw;
        color: aliceblue;

    }

    h2 {
        font-weight: 500;
        font-size: 3rem;
        color: rgb(53, 54, 116);
        text-align: center;
        margin-top: 5%;


    }


}

/* If the screen size is 400px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 400px) {
    .cover p, #features-p {
        font-size: 3vw;
        color: lightblue;
    }

    h1 {
        font-weight: 900;

        font-size: 10vw;
        color: aliceblue;

    }

    h2 {
        font-weight: 500;
        font-size: 2rem;
        color: rgb(53, 54, 116);
        text-align: center;
        margin-top: 5%;


    }


}